body {
  font-family: "Shantell Sans Medium";
}

html {
  scroll-behavior: smooth;
}

h4 {
  letter-spacing: 4px;
}

.center {
  padding-top: 20em;
  padding-bottom: 5%;
}

.bg-fade {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.head {
  font-weight: 400;
}

.text-light {
  font-weight: 300;
  letter-spacing: 2px;
}

.font {
  font-size: 2rem;
}

.display-3 {
  letter-spacing: 6px;
}

.ls {
  letter-spacing: 2px;
}

.navbar.scrolled {
  background-color: #3c2a21;
  transition: 600ms;
}
.navbar.scrolled a {
  color: white;
}

.bg-home {
  background: url(fem.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.center-vertically {
  padding-top: 35%;
  padding-bottom: 10%;
}

.center-vertically h1 {
  letter-spacing: 3px;
}

.center-vertically h2 {
  letter-spacing: 6px;
}
.nav-link {
  color: black;
}

#root {
  background: rgba(0, 0, 0, 0.4);
}

#root {
  padding: 5%;
}

#root .mar {
  width: 100%;
}

#root .mar1 {
  padding-top: 8%;
  font-weight: 100;
}

.skill-img {
  height: 15em;
}

.bg-education {
  background: url("education.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
}

.paper {
  margin-left: 7em;
  height: 25em;
  background: url("paper.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-hobbies {
  background: #d7d7e3;
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
}

.hobby-img {
  height: 5em;
}

.hobby:hover {
  transition: 1s;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ft {
  font-weight: 100;
}

#projects .mar {
  margin-top: 52%;
}

.bg-projects {
  background: #d7d7e3;
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
}

.project-img {
  height: 20vw;
}

#projects h3 {
  border: 1px solid black;
  padding-bottom: 1%;
}

#skill .skills {
  background: #d7d7e3;
  height: 80%;
  width: 100%;
}

.mar-4 {
  margin-left: 28%;
}

.hobline {
  border: 1px solid black;
  padding-bottom: 1%;
}

.icon {
  font-size: 200%;
}

.icon a {
  text-decoration: none;
  color: white;
}

.icon a:hover {
  color: black;
}

.resume {
  background: #d7d7e3;
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
  padding: 5em;
}

.resume a:hover {
  text-decoration: none;
}

.btn {
  border-radius: 10px;
}

.contact-me {
  background: #3c2a21;
}

#root {
  height: 10%;
}

button {
  background: none;
  color: rgba(37, 41, 45, 0);
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: all 0.25s;
  color: black;
  border-radius: 1em;
}

button:hover {
  border-color: black;
  color: black;
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.25em);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.677);
}
